# Core package
spatialize==1.1.1

# Data and computation
numpy
pandas
scipy
scikit-learn
pykrige

# Visualization
matplotlib
seaborn
xarray
geopandas

# Jupyter environment (for running notebooks)
jupyter
